
/*// Place all the styles related to the tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

*/

h1 {
  font-family: 'Roboto';
}

#task-show {
  font-size: 50px;
  margin-bottom: 0;
}

#task-details-show {
  background-color: lightgrey;
  border-radius: 3px;
  width: 100%;
  padding: 20px;
}

a {
  color: black;
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}


.tasks-content {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}
